<div class="card">
  <img class="card__img" src="./../../../../assets/img/sample.png" alt="" />
  <div class="card__info">
    <div class="info_tag">
      <span [textContent]="tag"></span>
    </div>
    <div class="user_time">
      <div class="user">
        <img src="./../../../../assets/img/sample.png" alt="" class="user__portrait" />
        <span class="user__name">{{ data.owner }}</span>
      </div>
      <p class="time-left">
        <span class="time-left-value">{{ time_left }}</span> Left
      </p>
    </div>
    <span class="title">{{ data.title }}</span><br />
    <span class="highest_bid">Highest bid</span>
    <div class="bid-value_likes">
      <span
        class="highest_bid-value">{{ data.highest_bid | number:'.0-2' }} ETH</span>
      <div class="likes">
        <img class="like-icon" src="../../../assets/img/heart.svg" alt="" />
        <span class="likes_value">{{ data.likes | degreePrefix }}</span>
      </div>
    </div>
  </div>
</div>
