* {
    font-size: 14px;
    font-weight: 600;
    color: #04091E;
}

p {
    margin: 0;
}

.card {
    min-width: 257px;
    border: 1px solid #CDD6D7;
}

.card__img {
    width: 100%;
    height: 240px;
    min-width: 257px;
    background-color: #C4C4C4;
}

.info_tag {
    font-size: 14px;
    font-weight: 500;
    line-height: 115%;
    color: white;
    background: linear-gradient(95deg, #FCAD02 -36.87%, #FF0041 98.63%);
    border-radius: 24px;
    padding: 8px 24px;
    position: absolute;
    width: fit-content;
    margin: -20px 0 0 20px;
}

.user {
    display: flex;
    align-items: center;
    gap: 8px;

}

.user__portrait {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #C4C4C4;
}

.user__name {
    line-height: 180%;
}

.time-left {
    font-size: 12px;
}

.time-left-value {
    background-image: linear-gradient(95deg, #FCAD02, #FF0041);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.user_time {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 20px;
    font-weight: 700;
    line-height: 160%;
    padding-bottom: 12px;
    padding-left: 20px;
}

.highest_bid {
    padding-left: 20px;
    color: #747681;
    line-height: 180%;
    font-weight: 500;
}

.like-icon {
    width: 28px;
    height: 28px;
}

.highest_bid {
    color: #747681;
}

.bid-value_likes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
}

.likes {
    display: flex;
    gap: 8px;
    align-items: center;
}