button {
    all: unset;
    font-family: 'Urbanist', sans-serif;
    padding: 10px 35px;
    font-size: 16px;
    font-weight: 600;
    line-height: 175%; //28px
    background: white;
    border: 1px solid #CDD6D7;
    border-radius: 24px;
    color: #04091E;
}