<div class="value-card">
    <div class="collection">
        <p class="id">{{nft.id}}</p>
        <img src="" alt="" class="portrait">
        <p class="title">{{nft.title}}</p>
    </div>
    <div class="volume">
        <img src="../../../assets/img/ethereum.svg" alt="" class="ethereum">
        <p class="volume__value">{{nft.volume}}</p>
    </div>
    <p class="day">{{nft.day_change}}</p>
    <p class="week">{{nft.week_change}}</p>
    <div class="floor">
        <img src="../../../assets/img/ethereum.svg" alt="" class="ethereum">
        <p class="floor__value">{{nft.floor_price}}</p>
    </div>
    <p class="owners">{{nft.owners}}</p>
    <p class="assets">{{nft.assets}}</p>
</div>
