.hero {
    background-color: #00BCC2;
    padding-block: 88px;
}

.hero__content {
    color: white;
    display: grid;
    gap: 67px;
    grid-template-columns: 1fr 1fr;
}

.container {
    max-width: 1320px;
    margin:auto;
}

h1 {
    font-family: Poppins;
    font-size: 72px;
    font-weight: 600;
    line-height: 130%;
    margin: 0 0 28px 0;
}

.hero__subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 160%; /* 32px */
    margin-bottom: 52px;
}

.hero__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px;
}

.hero__buttons > * + *{
    margin-left: 21px;
}