<section class="business inner ">
    <div class="wrapper container">
        <div class="header__figures">
            <div class="header__fig1"></div>
            <div class="header__fig2"></div>
            <div class="header__fig3"></div>
            <div class="header__fig4"></div>
        </div>
        <h2 class="text_centered color_white">NFT Business Process</h2>
        <div class="business__cards">
            <div class="business__card">
                <div class="business__card-img">
                    <img src="./../../../../../assets/img/credit-card.svg" alt="">
                </div>
                <div class="business__card-title">
                    <span>Set up your wallet</span>
                </div>
                <div class="business_card-text">
                    <p>Once you’ve set up your wallet of choice, connect it to MNFT  by clicking the wallet icon in the top right corner.</p>
                </div>
            </div>
            <div class="business__card">
                <div class="business__card-img">
                    <img src="./../../../../../assets/img/layers.svg" alt="">
                </div>
                <div class="business__card-title">
                    <span>Create collection</span>
                </div>
                <div class="business_card-text">
                    <p>Click My Collections and set up your collection. Add social links, a description, profile & banner images, & set secondary sales fee.</p>
                </div>
            </div>
            <div class="business__card">
                <div class="business__card-img">
                    <img src="./../../../../../assets/img/plus.svg" alt="">
                </div>
                <div class="business__card-title">
                    <span>Add your NFTs</span>
                </div>
                <div class="business_card-text">
                    <p>Upload your work (image, video, audio, 3D art), add title description, & customize your NFTs with properties, stats, & unlockable content.</p>
                </div>
            </div>
            <div class="business__card">
                <div class="business__card-img">
                    <img src="./../../../../../assets/img/list.svg" alt="">
                </div>
                <div class="business__card-title">
                    <span>List them for sale</span>
                </div>
                <div class="business_card-text">
                    <p>Choose between auctions, fixed-price listings, and declining-price listings. You choose how you want to sell your NFTs, and we help you sell them!</p>
                </div>
            </div>
        </div>
    </div>
</section>