$max-width: 1320px;
$title-margin: 40px;
$background-color: #04091E;

@mixin reset-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

* {
    color: #fff;

    box-sizing: border-box;
}

input, button, select {
    all: unset;
}

ul {
    @include reset-list;
}

li {
    margin-bottom: 28px;

    &:last-child {
        margin-bottom: 0;
    }
}

.text_title {
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
}

.text_option {
    font-size: 20px;
    font-weight: 500;
    line-height: 160%;
}

.text_small {
    font-size: 16px;
    font-weight: 500;
    line-height: 175%;
}

.container {
    max-width: $max-width;
    margin: auto;
}

.footer {
    background-color: $background-color;
    &__wrapper {
        padding-top: 120px;
    }
}

.anchors {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 103px;

    border-bottom: 1px solid rgba(255,255,255, 0.35);

    padding-bottom: 103px;
    &__title {
        margin-bottom: 40px;
    }

    &__input {
        display: grid;
        grid-template-columns: 1fr auto;

        padding: 8px 8px 8px 20px;

        background: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.16));

        button {
            background: linear-gradient(95deg, #FCAD02, #FF0041);
            
            padding: 13px 36px;

            font-size: 16px;
            font-weight: 600;
        }
    }
}

.nft {
    &__title {
        margin-bottom: $title-margin;
    }
}

.community {
    &__title {
        margin-bottom: $title-margin;
    }
}

.language {
    &__title {
        margin-bottom: $title-margin;
    }

    select {
        background: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.16));

        width: 100%;
        padding: 13px 13px 13px 20px;

        option {
            background-color: $background-color;
        }
    }
}

.info {
    padding-block: 44px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__items {
        display: flex;
        gap: 66px;
    }
    
    &__service-list {
        display: flex;
        gap: 40px;
    }

    &__socials {
        display: flex;
        gap: 20px;

        font-size: 18px;
        font-weight: 500;
        line-height: 180%;

        .ref {
            padding: 12px;
            
            border-radius: 50%;
            border: 1px solid #fff;

            width: 48px;
            height: 48px;
            a {
                width: 24px;
                height: 24px;
                img {
                    vertical-align:top;
                }
            }
        }
    }
}