<footer class="footer">
    <div class="footer__wrapper container" >
        <div class="anchors">
            <div class="anchors__subscribe">
                <div class="anchors__title">
                    <span class="text_title">Get the latest NFT updates</span>
                </div>
                <div class="anchors__input">
                    <input type="text" name="" id="" value="Your e-mail">
                    <button class="footer__subscribe-btn">I’m in</button>
                </div>
            </div>
            <div class="nft">
                <div class="nft__title">
                    <span class="text_title">NFT</span>
                </div>
                <nav>
                    <ul class="text_option">
                        <li><a href="#">Explore</a></li>
                        <li><a href="#">Help center</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Become a partner</a></li>
                        <li><a href="#">Bug bounty</a></li>
                    </ul>
                </nav>
            </div>
            <div class="community">
                <div class="community__title">
                    <span class="text_title">Community</span>
                </div>
                <nav>
                    <ul class="text_option">
                        <li><a href="#">ARAI Token</a></li>
                        <li><a href="#">Discussion</a></li>
                        <li><a href="#">Voting</a></li>
                        <li><a href="#">Suggest feature</a></li>
                        <li><a href="#">NFT protocol</a></li>
                        <li><a href="#">Subscribe</a></li>
                    </ul>
                </nav>
            </div>
            <div class="language">
                <div class="language__title">
                    <span class="text_title">Language</span><br>
                </div>
                <select class="text_small">
                    <option>English</option>
                    <option>Chinese</option>
                    <option>Russian</option>
                </select>
            </div>
        </div>
        <div class="info">
            <div class="info__items">
                <span class="info__copyright">© NFT, Inc. All rights reserved.</span>
                <ul class="info__service-list">
                    <li><a href="">Terms</a></li>
                    <li><a href="">Privacy policy</a></li>
                </ul>
            </div>
            <div class="info__socials">
                <div class="ref">
                    <a href="#">
                        <img src="../../../assets/img/facebook.svg" alt="">
                    </a>
                </div>
                <div class="ref">
                    <a href="#">
                        <img src="../../../assets/img/instagram.svg" alt="">
                    </a>
                </div>
                <div class="ref">
                    <a href="#">
                        <img src="../../../assets/img/twitter.svg" alt="">
                    </a>
                </div>
                <div class="ref">
                    <a href="#">
                        <img src="../../../assets/img/linkedin.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>