<footer class="">
    <div class="header__figures">
        <div class="header__fig1"></div>
        <div class="header__fig2"></div>
        <div class="header__fig3"></div>
        <div class="header__fig4"></div>
        <div class="header__fig5"></div>
    </div>
    <div class="footer__wrapper container" >
        <div class="footer__anchors">
            <div class="footer__subscribe">
                <div class="footer__title">
                    <span class="text_big">Get the latest NFT updates</span>
                </div>
                <div class="footer__input">
                    <input type="text" name="" id="" value="Your e-mail" class="footer__input-field">
                    <button class="footer__subscribe-btn">I’m in</button>
                </div>
            </div>
            <div class="footer__nft-column">
                <div class="footer__title">
                    <span class="text_big">NFT</span>
                </div>
                <nav class="footer__nav">
                    <ul>
                        <a href="#">
                            <li class="footer__nft-item">Explore</li>
                        </a>
                        <a href="#">
                            <li class="footer__nft-item">Help center</li>
                        </a>
                        <a href="#">
                            <li class="footer__nft-item">Blog</li>
                        </a>
                        <a href="#">
                            <li class="footer__nft-item">Jobs</li>
                        </a>
                        <a href="#">
                            <li class="footer__nft-item">Become a partner</li>
                        </a>
                        <a href="#">
                            <li class="footer__nft-item">Bug bounty</li>
                        </a>
                    </ul>
                </nav>
            </div>
            <div class="footer__community-column">
                <div class="footer__title">
                    <span class="text_big">Community</span>
                </div>
                <nav class="footer__nav">
                    <ul>
                        <a href="#">
                            <li class="footer__nft-item">ARAI Token</li>
                        </a>
                        <a href="#">
                            <li class="footer__nft-item">Discussion</li>
                        </a>
                        <a href="#">
                            <li class="footer__nft-item">Voting</li>
                        </a>
                        <a href="#">
                            <li class="footer__nft-item">Suggest feature</li>
                        </a>
                        <a href="#">
                            <li class="footer__nft-item">NFT protocol</li>
                        </a>
                        <a href="#">
                            <li class="footer__nft-item">Subscribe</li>
                        </a>
                    </ul>
                </nav>
            </div>
            <div class="footer__language-selector">
                <div class="footer__title">
                    <span class="text_big">Language</span><br>
                </div>
                <select class="footer__select-language text_small">
                    <option>English</option>
                    <option>Chinese</option>
                    <option>Russian</option>
                </select>
            </div>
        </div>
    </div>
    <div class="footer__service-info-block container">
        <div class="footer__copyright-text">
            <span class="footer__copyright">© NFT, Inc. All rights reserved.</span>
            <div class="footer__service-info">
                <ul class="footer__service-list">
                    <a href="">
                        <li>Terms</li>
                    </a>
                    <a href="">
                        <li>Privacy policy</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="footer__socials">
            <a href="#">
                <img src="../../../assets/img/facebook.svg" alt="">
            </a>
            <a href="#">
                <img src="../../../assets/img/instagram.svg" alt="">
            </a>
            <a href="#">
                <img src="../../../assets/img/twitter.svg" alt="">
            </a>
            <a href="#">
                <img src="../../../assets/img/linkedin.svg" alt="">
            </a>
        </div>
    </div>
</footer>