<div class="header">
    <div class="header__wrapper container">
        <img src="../../../assets/img/logo.svg" alt="" class="header__logo">
        <div class="header__search-bar">
            <img src="../../../assets/img/search.svg" alt="" class="header__search-icon">
            <input type="text" class="header__search-field" name="" id="" value="Search items, collections, accounts">
        </div>
        <nav class="header__navbar"><ul class="header__ul">
            <a href="#">
                <li class="header__li">Explore</li>
            </a>
            <a href="#">
                <li class="header__li">Stats</li>
            </a>
            <a href="#">
                <li class="header__li">Resources</li>
            </a>
            <a href="#">
                <li class="header__li">Community</li>
            </a>
            <a href="#">
                <button customButton orange medium>Create</button>
            </a>
        </ul></nav>
        <div class="header__community-buttons">
            <a href="#">
                <img src="../../../assets/img/user.svg" alt="" class="header__user-button">
            </a>
            <a href="#">
                <img src="../../../assets/img/gitlab.svg" alt="" class="header__gitlab-button">
            </a>
        </div>
    </div>
</div>