$max-width: 1320px;

* {
    font-family: 'Poppins', sans-serif;
}

a {
    color: white;
    font-size: 18px;
}

.hide {
    display: none !important;
}

.container {
    max-width: $max-width;
    margin: auto;
}

.header {
    background-color:#04091E;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-block: 32px;
        z-index: 100;
    }

    &__logo {
        margin-right: 36px;
    }

    &__search-bar {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 0 20px;
        width: 432px;
        height: 48px;
        background: rgb(255, 255, 255, 0.16);
        width: 100%;
    }

    &__search-field {
        color: white;
        background: transparent;
        border: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 175%;
        width: 100%;
    }

    nav {
        ul {
            display: flex;
            align-items: center;
            gap: 40px;
            margin: 0;
        }
    }

    &__community-buttons {
        display: flex;

        a {
            margin-left: 32px;
        }
    }
}

