<div class="create-item container inner">
    <div class="create-item__text">
        <h2>Learn and Earn Free ETH with NFT</h2>
        <div class="create-item__subtitle">
            <p>A creative nft business agency that lead & inspire</p>
        </div>
        <div class="create-item__buttons">
            <button customButton big orange>Create Item</button>
            <button customButton big white>Explore More</button>
        </div>
    </div>
    <div class="create-item__cards">
        <app-short-details-card *ngFor="let card of cards" [data]="card"></app-short-details-card>
    </div>
</div>