p {
    margin: 0;
}

.nft-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 982px;
    max-height: 85px;
    padding: 13px 36px 12px 20px;
    border: 1px solid #CDD6D7;
    color: #747681;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    line-height: 180%;
}

.collection, .owner_data, .price {
    display: flex;
    gap: 12px;
    margin-right: 3.67%;
}

.owner_data {
    margin-right: 5.6%;
}

#owner {
    color: #04091E;
}

.portrait {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #C4C4C4;
}

.price {
    gap: 4px;
    margin-right: 6.4%;
}

.title_owner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quantity {
    margin-right: 12.22%;
    color: #04091E;
}

.from {
    margin-right: 6.4%;
    color: #04091E
}

.to {
    margin-right: 6.4%;
}