<section class="review inner">
    <div class="wrapper color_white">
        <h2 class="text_centered">NFT Trust and Safety</h2>
        <div class="reviews">
            <div class="card">
                <div class="card__marks">
                    <div class="card__quotes">
                        <img src="./../../../../../assets/img/quotes.svg" alt="">
                    </div>
                    <div class="card__stars">
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                    </div>
                </div>
                <div class="card__text">
                    <p>Et scaevola delicata vix, mea invidunt indoctum, quodsi eripuit definiebas at pri. Placerat voltaria ex mel. Eos malis Et scaevola delicata vix, mea ei invidunt indoctum. </p>
                </div>
                <div class="card__author">
                    <div class="card__portrait">
                        <img src="./../../../../../assets/img/sample.png" alt="" class="">
                    </div>
                    <div class="card__author-text">
                        <div class="card__name">Floyd Miles</div>
                        <div class="card__profession">Product designer</div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__marks">
                    <div class="card__quotes">
                        <img src="./../../../../../assets/img/quotes.svg" alt="">
                    </div>
                    <div class="card__stars">
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                    </div>
                </div>
                <div class="card__text">
                    <p>Et scaevola delicata vix, mea invidunt indoctum, quodsi eripuit definiebas at pri. Placerat voltaria ex mel. Eos malis Et scaevola delicata vix, mea ei invidunt indoctum. </p>
                </div>
                <div class="card__author">
                    <div class="card__portrait">
                        <img src="./../../../../../assets/img/sample.png" alt="" class="">
                    </div>
                    <div class="card__author-text">
                        <div class="card__name">Darlene Robertson</div>
                        <div class="card__profession">Product designer</div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__marks">
                    <div class="card__quotes">
                        <img src="./../../../../../assets/img/quotes.svg" alt="">
                    </div>
                    <div class="card__stars">
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                    </div>
                </div>
                <div class="card__text">
                    <p>Et scaevola delicata vix, mea invidunt indoctum, quodsi eripuit definiebas at pri. Placerat voltaria ex mel. Eos malis Et scaevola delicata vix, mea ei invidunt indoctum. </p>
                </div>
                <div class="card__author">
                    <div class="card__portrait">
                        <img src="./../../../../../assets/img/sample.png" alt="" class="">
                    </div>
                    <div class="card__author-text">
                        <div class="card__name">Wade Warren</div>
                        <div class="card__profession">Product designer</div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__marks">
                    <div class="card__quotes">
                        <img src="./../../../../../assets/img/quotes.svg" alt="">
                    </div>
                    <div class="card__stars">
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                    </div>
                </div>
                <div class="card__text">
                    <p>Et scaevola delicata vix, mea invidunt indoctum, quodsi eripuit definiebas at pri. Placerat voltaria ex mel. Eos malis Et scaevola delicata vix, mea ei invidunt indoctum. </p>
                </div>
                <div class="card__author">
                    <div class="card__portrait">
                        <img src="./../../../../../assets/img/sample.png" alt="" class="">
                    </div>
                    <div class="card__author-text">
                        <div class="card__name">Jerome Bell</div>
                        <div class="card__profession">Product designer</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
